<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<section layout:fragment="content">
  <!--<h2>게시글 등록</h2>-->
  <div class="wrap_board_form">

    <form id="board_form" name="board_form" method="post" action="/board/insert">
      <div class="wrap_board_form_control">
        <button type="button" id="btn_submit">등록</button>
        <button type="button" id="btn_cancel">취소</button>
      </div>

      <table class="board_form_table">
        <tr class="board_form_title">
          <th>제목</th>
          <td>
            <input type="text" id="title" name="title" class="title">
          </td>
        </tr>

        <tr>
          <th>내용</th>
          <td>
            <textarea id="contents" name="contents"></textarea>
          </td>
        </tr>
      </table>
    </form>
  </div>


  <script>
    $(document).ready(function() {
      let form = $('#board_form');
      let title = $("#title").val();
      let contents = $("#contents").val();

      $('#btn_submit').click(function() {
        title = $("#title").val();
        contents = $("#contents").val();

        if($.trim(title) === "" || title.length == 0) {
          alert("제목을 입력해주세요.");
          return;
        }

        if($.trim(contents) === "" || contents.length == 0) {
          alert("내용을 입력해주세요.");
          return;
        }

        form.submit();
      });
    });
  </script>
</section>
</html>
